<!DOCTYPE html>
<html>
<body>
<title> Form </title>
<center>
<style>
h2 { 
color: red;
font-family: timesnewroman;
font-size:35px;
}
</style>

<h2>Employee Details</h2>

<form>
  First name:
  <input type="text" name="firstname" placeholder="First Name">
  <br>
<br>
  Last name :
  <input type="text" name="lastname" placeholder="Last Name">
<br>
<br>
DOB :
  <input type="text" name="Date" placeholder="Date of Birth"><br><br>
<input type="checkbox" name="gender" value="male" checked> Male
  <input type="checkbox" name="gender" value="female"> Female
  <input type="checkbox" name="gender" value="other"> Other
<br><br>
<input type="submit" value="Submit">

</form>
</centre>
</body>
</html>
