<html>
  <head>
    <title>LOGIN</title>
    
  </head>
  <style>
  	h1 {
  		font-family: timesnewroman;
  		font-size: 35px;
  		color: white;
  	}
  	h2 {
  		font-size: 25px;
  		color: lightgreen;
  	}
  	body {
  		/*background-color: lightblue ;*/
  		background-image: url('../images/Screenshot from 2020-01-24 11-17-02.png');
  		background-size: cover;
  		background-position: center;
  	}

  	input {
  		font-family: arialblock;
  	}
  </style>
  <body>
  	<center>
    <div class="container">
      <h1>WELCOME</h1>
      <h2>Please Login </h2>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" >
          <br>
          <br>
         <br>
         <input type="password" placeholder="Password" name="password" >
          <br>
          <br>
          <br>
        <input class="login" type="submit" value="LOGIN">
        <input class="Forget Paasword" type = "submit" value = "FORGET PASSWORD">
        </center>
      
    </div>
  </body>
</html>
